* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}

@font-face {
    font-family: 'OoohBaby';
    src: url('../font/OoohBaby-Regular.ttf') format('truetype');
}

Main {
    .LP_img {
        >img {
            width: 100%;
        }
    }

    .CTA {
        &-block {
            width: 93.33vw;
            border: 4px solid #FAA5BA;
            margin-left: auto;
            margin-right: auto;
            margin-top: 5.73vw;

            &-line {
                display: flex;
                padding-left: 13vw;
                padding-top: 3vw;

                >img {
                    width: 10.67vw;
                }

                &-p {
                    font-size: 5.07vw;
                    color: #766B51;
                    margin-bottom: 0;

                    &-small {
                        font-size: 3.73vw;
                    }

                    &-point {
                        color: #FF6363;
                        font-size: 6.4vw;

                        &-circle {
                            position: absolute;
                            background-color: #766B51;
                            transform: translateX(-50%);
                            width: 2vw;
                            height: 2vw;
                            background-color: #766B51;
                            border-radius: 50%;
                            /* 丸にする */
                            margin-left: 3vw;
                            margin-top: -1vw;
                        }
                    }
                }
            }

            &-course {
                background: linear-gradient(to right, #D8C071, #CFB168, #C6A45F, #BD9856, #B88F4E);
                color: white;
                font-size: 7.73vw;
                position: relative;
                width: 104%;
                margin-left: -2vw;
                margin-top: 1vw;

                &::before {
                    content: '';
                    position: absolute;
                    top: 11.5vw;
                    left: 0.91vw;
                    transform: translateX(-50%);
                    width: 0;
                    height: 0;
                    border-left: 2vw solid transparent;
                    border-top: 2vw solid #D8C071;
                }

                &::after {
                    content: '';
                    position: absolute;
                    top: 11.5vw;
                    right: -0.9vw;
                    transform: translateX(-50%);
                    width: 0;
                    height: 0;
                    border-right: 1.7vw solid transparent;
                    border-top: 2vw solid #B88F4E;
                }

            }

            &-money {
                &-Regular {
                    font-size: 4.27vw;
                    color: #766B51;
                    text-align: center;
                    margin-top: 3vw;

                    &-num {
                        font-size: 6.7vw;
                        font-weight: bold;
                    }

                    &-zei {
                        font-size: 2.4vw;
                    }

                    &-en {
                        font-size: 3.73vw;
                    }
                }

                &-next {
                    width: 0;
                    height: 0;
                    border-left: 2vw solid transparent;
                    border-right: 2vw solid transparent;
                    border-top: 4vw solid #766B51;
                    margin-left: auto;
                    margin-right: auto;
                }

                &-special {
                    font-size: 17.07vw;
                    color: #FF6363;
                    text-align: center;
                    font-weight: bold;

                    &-zei {
                        font-size: 10.67vw;
                    }

                    &-tani,
                    &-ryo {
                        font-size: 3.73vw;
                        color: #766B51;
                        position: absolute;
                        font-weight: normal;
                    }

                    &-tani {
                        margin-top: 5vw;
                        left: 73vw;
                    }

                    &-ryo {
                        margin-top: 20vw;
                        left: 48vw;
                    }
                }

            }

            &-apply {
                background-color: #06C755;
                font-size: 5.07vw;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
                border-radius: 50px;
                text-align: center;
                width: 94%;
                margin-left: auto;
                margin-right: auto;
                padding-top: 1vw;
                padding-bottom: 1vw;

                >a {
                    text-decoration: none;
                    color: white;
                }
            }

            &-Single {
                background-color: rgba(250, 165, 186, 0.5);
                padding-top: 2vw;
                margin-top: 5vw;

                &-moji {
                    font-size: 4.27vw;
                    color: #766B51;
                    width: 50vw;
                    text-align: center;

                    >span {
                        font-size: 3.73vw;
                    }
                }

                &-money {
                    font-size: 9.07vw;
                    color: #766B51;
                    width: 50vw;
                    text-align: center;

                    &-en {
                        font-size: 5.6vw;
                    }

                    &-zei {
                        font-size: 2.4vw;
                        position: absolute;
                        margin-top: 2vw;
                        margin-left: -5.5vw;

                    }
                }

                &-button {
                    background-color: #06C755;
                    width: 40vw;
                    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
                    border-radius: 50px;
                    text-align: center;
                    font-size: 3.73vw;
                    position: absolute;
                    margin-left: 50vw;
                    margin-top: -15vw;

                    >a {
                        text-decoration: none;
                        color: white;

                        >span {
                            position: absolute;
                            margin-top: -2.5vw;
                            margin-left: 9vw;
                        }
                    }
                }
            }
        }
    }

    .worries {
        &-block1 {
            background-image: url(../img/trouble_bg.jpeg);
            margin-top: 17vw;

            &-title {
                font-size: 5.07vw;
                color: #A98472;
                text-align: center;

                >span {
                    font-size: 6.4vw;
                }
            }

            &-img {
                text-align: center;

                >img {
                    width: 86.67vw;
                    margin-top: 2vw;
                }
            }

            &-checklist {
                background-color: #FFFFFF;
                width: 86.67vw;
                margin-left: auto;
                margin-right: auto;
                margin-top: 3vw;
                padding: 3vw;

                &::before {
                    content: "";
                    position: absolute;
                    border: 1px solid #A98472;
                    width: 80.67vw;
                    height: 44vw;
                }

                &-title {
                    position: absolute;
                    font-family: 'OoohBaby';
                    color: #A98472;
                    font-size: 6.67vw;
                    transform: rotate(-19.49deg);
                    margin-left: -5vw;
                }

                &-moji {
                    font-size: 3.73vw;
                    color: #766B51;
                    padding-left: 19vw;
                    padding-top: 1vw;

                    >span {
                        font-size: 5.07vw;
                    }
                }
            }
        }

        &-block2 {
            background-image: url(../img/trouble_bg.jpeg);

            &-moji1 {
                color: #766B51;
                font-size: 5.33vw;
                text-align: center;
                padding-top: 6vw;
            }

            &-moji2 {
                font-size: 6.4vw;
                text-align: center;
                color: #766B51;
                margin-top: 4vw;

                >span {
                    color: #FF6363;
                    font-weight: bold;
                }
            }

            &-moji3 {
                font-size: 3.73vw;
                color: #766B51;
                text-align: center;
                margin-top: 4vw;
            }

            &-moji4 {
                font-size: 3.73vw;
                color: #766B51;
                text-align: center;

                >span {
                    font-size: 5.87vw;
                    color: #FAA5BA;

                }
            }
        }

        &-block3 {
            &-img1 {
                text-align: center;
                margin-top: 8vw;

                >img {
                    width: 84.4vw;
                }
            }

            &-img2 {
                margin-top: 3vw;
                >img{
                    width: 100%;
                }
            }

            &-nayami {
                color: #766B51;
                text-align: center;
                font-size: 5.07vw;
                margin-top: 8vw;
            }

            &-iryo {
                color: #FF6363;
                font-size: 6.4vw;
                text-align: center;
                font-weight: bold;
            }

            &-img3 {
                text-align: center;
                margin-top: 4vw;
                >img{
                    width: 100%;
                }
            }

            &-img4 {
                margin-top: -24vw;
                z-index: -1;
                position: relative;

                >img {
                    width: 100%;

                }
            }

            &-ekuso {
                &-title {
                    font-size: 9.07vw;
                    color: #766B51;
                    text-align: center;

                    >span {
                        font-size: 6.4vw;
                    }
                }

                &-subtitle {
                    font-size: 4.27vw;
                    color: #766B51;
                    text-align: center;
                }

                &-setumei1 {
                    color: #766B51;
                    font-size: 3.73vw;
                    text-align: center;
                    margin-top: 6vw;
                }

                &-kajo {
                    font-size: 4.8vw;
                    color: #766B51;
                    font-weight: bold;
                    margin-top: 6vw;
                    margin-left: 20vw;

                    >img {
                        width: 3.47vw;
                        margin-right: 1.5vw;
                    }
                }

                &-setumei2 {
                    color: #766B51;
                    font-size: 3.73vw;
                    text-align: center;
                    margin-top: 6vw;
                }
            }

            &-img5 {
                text-align: center;

                >img {
                    width: 93.33vw;
                    margin-top: 2vw;
                }
            }
        }
    }

    .point {
        background-color: #F4E7DC;
        padding-top: 5vw;
        padding-bottom: 10vw;

        &-section1 {
            margin-top: 5vw;
            margin-left: auto;
            width: 94.67vw;
            background-color: #FEFBF8;
            padding: 3.2vw;

            &-block {
                border: 2px solid #A98472;

                &-title {
                    display: flex;
                    margin-left: 6.93vw;
                    margin-top: 3.2vw;

                    &-num {
                        &-point {
                            font-size: 2.67vw;
                            color: #A98472;
                            position: absolute;
                            margin-top: -1.5vw;
                            margin-left: 1vw;
                        }

                        &-number {
                            font-size: 8.53vw;
                            color: #A98472;
                            margin-top: -1vw;
                        }
                    }

                    &-name {
                        font-size: 7.07vw;
                        margin-left: 2vw;
                        color: #766B51;

                        >span {
                            font-size: 6.4vw;
                        }
                    }

                }

                &-consept {
                    background-color: #766B5180;
                    color: white;
                    font-size: 5.07vw;
                    width: 58.67vw;
                    position: absolute;
                    margin-left: -7vw;
                    margin-top: 10vw;
                    padding-left: 4.5vw;

                    &-small {
                        font-size: 4.27vw;
                    }

                    &-bum {
                        font-size: 6.4vw;
                    }
                }

                &-img {
                    margin-right: -3.5vw;
                    text-align: right;

                    >img {
                        width: 56vw;
                    }
                }

                &-point {
                    font-size: 3.2vw;
                    margin-top: 5vw;
                    margin-left: 4vw;
                    color: #766B51;
                    margin-bottom: 5vw;

                    &-small {
                        font-size: 2.4vw;
                    }

                    &-line {
                        font-size: 5.33vw;
                        color: #FAA5BA;
                    }
                }

            }
        }

        &-section2 {
            margin-top: 10vw;
            width: 94.67vw;
            background-color: #FEFBF8;
            padding: 3.2vw;
            margin-right: auto;

            &-block {
                border: 2px solid #A98472;

                &-title {
                    display: flex;
                    margin-top: 5vw;
                    margin-left: 17vw;

                    &-name {
                        font-size: 7.07vw;
                        color: #766B51;
                    }

                    &-num {
                        &-point {
                            font-size: 2.67vw;
                            color: #766B51;
                            position: absolute;
                            margin-left: 1vw;
                            margin-top: -1.5vw;
                        }

                        &-number {
                            font-size: 8.53vw;
                            color: #A98472;
                            margin-top: -1vw;
                        }
                    }
                }

                &-consept {
                    background-color: #766B5180;
                    color: white;
                    font-size: 5.07vw;
                    width: 58.67vw;
                    position: absolute;
                    margin-left: 36vw;
                    padding-left: 11.6vw;
                    padding-top: 3vw;
                    padding-bottom: 3vw;
                    margin-top: 18vw;

                    >span {
                        font-size: 6.4vw;
                    }
                }

                &-img {
                    margin-left: -3.5vw;
                    margin-top: 2vw;

                    >img {
                        width: 56vw;
                    }
                }

                &-point {
                    font-size: 3.73vw;
                    color: #A98472;
                    margin-top: 5vw;
                    margin-left: 10vw;
                    margin-bottom: 5vw;

                    >span {
                        color: #FAA5BA;
                        font-size: 4.27vw;
                    }
                }
            }
        }

        &-section3 {
            margin-top: 10vw;
            margin-left: auto;
            width: 94.67vw;
            background-color: #FEFBF8;
            padding: 3.2vw;

            &-block {
                border: 2px solid #A98472;

                &-title {
                    display: flex;
                    margin-left: 6.93vw;
                    margin-top: 3.2vw;

                    &-num {
                        &-point {
                            font-size: 2.67vw;
                            color: #A98472;
                            position: absolute;
                            margin-top: -1.5vw;
                            margin-left: 1vw;
                        }

                        &-number {
                            font-size: 8.53vw;
                            color: #A98472;
                            margin-top: -1vw;
                        }
                    }

                    &-name {
                        font-size: 7.07vw;
                        margin-left: 2vw;
                        color: #766B51;

                        >span {
                            font-size: 6.4vw;
                        }
                    }

                }

                &-consept {
                    background-color: #766B5180;
                    color: white;
                    font-size: 5.07vw;
                    width: 58.67vw;
                    position: absolute;
                    margin-left: -7vw;
                    margin-top: 11vw;
                    padding-left: 4.5vw;
                    padding-top: 4vw;
                    padding-bottom: 4vw;

                    &-small {
                        font-size: 4.27vw;
                    }

                    &-bum {
                        font-size: 6.4vw;
                    }
                }

                &-img {
                    margin-right: -3.5vw;
                    text-align: right;
                    margin-top: 3vw;

                    >img {
                        width: 56vw;
                    }
                }

                &-point {
                    font-size: 3.2vw;
                    margin-top: 5vw;
                    margin-left: 9vw;
                    color: #766B51;
                    margin-bottom: 5vw;

                    >span {
                        color: #FAA5BA;
                        font-size: 4.27vw;
                    }
                }

            }
        }
    }

    .Message {
        &-title {
            font-size: 5.33vw;
            color: #766B51;
            border-top: 2px solid #FAA5BA;
            border-bottom: 2px solid #FAA5BA;
            width: 85.47vw;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            padding-top: 2vw;
            padding-left: 2vw;
            margin-top: 12vw;
        }

        &-block1 {
            font-size: 4.4vw;
            color: #766B51;
            text-align: center;
            margin-top: 8vw;

            &-color1 {
                color: #FF6363;
                font-size: 6vw;

                &-big {
                    font-size: 6.67vw;
                }

                &-small {
                    font-size: 5.07vw;
                }
            }

            &-color2 {
                font-size: 6vw;
            }
        }

        &-block2 {
            font-size: 4.4vw;
            color: #766B51;
            text-align: center;
            margin-top: 5vw;

            &-line {
                font-size: 6vw;
                color: #FF6363;
                font-weight: bold;
                text-align: center;

                &-small {
                    font-size: 4.4vw;
                }
            }
        }
    }

    .Voice {
        background: #FAA5BA;
        padding-bottom: 8vw;
        margin-top: 5vw;
        padding-top: 15vw;
        background-image: url(../img/img.png);

        &-title {
            font-size: 6.4vw;
            color: #766B51;
            text-align: center;
            position: relative;
            z-index: 2;

            &-sub {
                color: white;
                font-size: 11.73vw;
                font-family: "OoohBaby";
                transform: rotate(-4.85deg);
                position: absolute;
                margin-top: -9.5vw;
                margin-left: 26vw;
                z-index: 1;
            }
        }

        &-section {
            background-color: white;
            width: 75.2vw;
            padding: 1vw;
            margin-top: 5vw;
            margin-left: auto;
            margin-right: auto;

            &-block {
                border: 1.5px solid #FAA5BA;

                &-main {
                    display: flex;

                    &-img {
                        margin-left: 4vw;

                        >img {
                            width: 26.93vw;
                        }
                    }

                    &-data {
                        width: 100%;

                        &-1 {
                            margin-top: 5vw;
                        }

                        &-2 {
                            margin-top: 8vw;
                        }

                        &-msg {
                            font-size: 4.27vw;
                            color: #766B51;
                            text-align: center;
                        }

                        &-line {
                            border-top: 2px solid #FAA5BA;
                            width: 60%;
                            margin-left: auto;
                            margin-right: auto;
                        }

                        &-target {
                            font-size: 3.73vw;
                            color: #766B51;
                            text-align: center;
                        }
                    }
                }

                &-kanso {
                    font-size: 3.73vw;
                    color: #766B51;
                    padding-left: 6vw;
                    padding-bottom: 5vw;

                }
            }
        }
    }

    .HowTo {
        padding-bottom: 8vw;

        &-title {
            font-size: 9.07vw;
            font-family: 'OoohBaby';
            color: #FAA5BA;
            text-align: center;
            margin-top: 10vw;

            &-setumei {
                color: #766B51;
                font-size: 5.07vw;
                text-align: center;
                margin-top: -3vw;
                margin-bottom: 6vw;

                >span {
                    font-size: 3.73vw;
                }
            }
        }

        &-img {
            text-align: center;

            >img {
                width: 83.2vw;
                border: 2px solid #A98472;
            }
        }

        &-section {
            margin-left: 9vw;
            margin-top: 6vw;

            &-setp {
                font-family: 'OoohBaby';
                color: #FAA5BA;
                font-size: 6.4vw;
            }

            &-message {
                font-size: 3.73vw;
                color: #766B51;
            }
        }
    }

    .QandA {
        background-color: #FEFBF8;
        padding-bottom: 12vw;
        &-tittle {
            font-size: 7.73vw;
            color: #FAA5BA;
            font-family: 'OoohBaby';
            text-align: center;
            padding-top: 8vw;
        }

        &-section {
            background-color: white;
            width: 82.27vw;
            margin-left: auto;
            margin-right: auto;
            padding: 4vw;
            margin-top: 4vw;
            box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.3);
            &-qui {
                font-size: 3.73vw;
                color: #FAA5BA;

                &-kigo {
                    font-size: 5.07vw;
                    color: #FAA5BA;
                }
            }

            &-line {
                border: 0.5px solid #766B51;
            }

            &-ans{
                font-size: 3.2vw;
                color: #766B51;
                &-kigo{
                    font-size: 3.73vw;
                    color: #766B51;
                }
                &-button{
                    text-align: center;
                    margin-top: 3vw;
                    >a{
                        text-decoration: none;
                        background-color: #5AC363;
                        color: white;
                        border-radius: 5vw;
                        padding: 2vw 17vw;
                        margin-left: -6vw;
                        box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.3);
                        >span{
                            position: absolute;
                            margin-left: 12vw;
                        }
                    }
                }
            }
        }
    }

    .Jusho{
        background-color: #FFF7EE;
        &-ttile{
            font-size: 4.67vw;
            text-align: center;
            color: #766B51;
            padding-top: 8vw;
        }
        &-name{
            color: #766B51;
            font-size: 3.2vw;
            text-align: center;
            margin-top: 8vw;
        }
        &-Jikan{
            text-align: center;
            margin-top: 10vw;
            &-talbe{
                margin-left: auto;
                margin-right: auto;
                width: 73.33vw;
                &-tr{
                    padding: 0.3vw;
                    &-3{
                        border-top: 1px solid #A98472;
                    }
                    >th{
                        background-color: white;
                        border: none;
                        font-weight: normal;
                        color: #766B51;
                        font-size: 3.2vw;
                        padding: 0.8vw;
                    }
                    >td{
                        color: #766B51;
                        font-size: 3.2vw;
                        padding: 0.8vw;
                    }
                }
            }
        }
        &-map{
            text-align: center;
            margin-top: 10vw;
            >iframe{
                width: 80.8vw;
                height: 55.2vw;
            }
        }
        &-msg1{
            font-size: 2.4vw;
            text-align: center;
            margin-top: 10vw;
        }
        &-msg2{
            font-size: 2.4vw;
            text-align: center;
            margin-top: 4vw;
            padding-bottom: 3vw;
            >span{
                >a{
                    color: black;
                }
            }
        }
    }

}